{% extends 'base.html' %}
{% block title %}Mis Reservas{% endblock %}
{% block content %}
<h2 class="mb-4">Mis Reservas</h2>

<table class="table table-bordered table-striped shadow-sm">
  <thead class="table-success">
    <tr>
      <th>Cancha</th>
      <th>Fecha</th>
      <th>Horario</th>
      <th>Estado</th>
      <th>Acción</th>
    </tr>
  </thead>
  <tbody>
    {% for r in reservas %}
    <tr>
      <td>{{ r.cancha.nombre }}</td>
      <td>{{ r.fecha }}</td>
      <td>{{ r.hora_inicio }} - {{ r.hora_fin }}</td>
      <td>{{ r.estado }}</td>

      <td>
        {% if r.estado == "Pendiente" %}
          <a href="{% url 'pago' r.id %}" class="btn btn-warning btn-sm">Pagar</a>
        {% endif %}

        {% if r.estado != "Cancelado" %}
          <a href="{% url 'cancelar' r.id %}" class="btn btn-danger btn-sm ms-1">Cancelar</a>
        {% endif %}
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" class="text-center">No tienes reservas.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="/" class="btn btn-link">Volver</a>

{% endblock %}
