{% extends 'base.html' %}
{% block content %}

<div class="text-center mt-5">

    <div class="card p-5 shadow-lg" style="max-width: 500px; margin: auto;">

        <h2 class="text-success mb-3">¡Pago realizado con éxito! ✔</h2>

        <p class="mb-4">
            Tu reserva ha sido pagada correctamente.  
            El vendedor recibirá tu información.
        </p>

        <a href="/" class="btn btn-primary w-100">
            Volver al inicio
        </a>
    </div>

</div>

{% endblock %}
